{:blocks (
{:block/content "one"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64948991-45ee-430e-9e28-b48dc9eff0b2"}
:block/parent 
{:block/uuid #uuid "64948991-45ee-430e-9e28-b48dc9eff0b2"}
:block/properties 
{}
:block/uuid #uuid "649489a1-684b-4025-a13b-28fac9ead137"} 
{:block/created-at 1687456187077
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "649489a1-684b-4025-a13b-28fac9ead137"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1c239460-1125-11ee-8ebe-a9740cd72c54"
:noFill false
:point [464.55078125 314.2265625]
:parentId "64948991-45ee-430e-9e28-b48dc9eff0b2"
:collapsedHeight 0
:nonce 1687456157871}}
:block/updated-at 1687456187077} 
{:block/created-at 1687456222991
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "logseq publish test"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 137]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "35618630-1125-11ee-8ebe-a9740cd72c54"
:noFill false
:isLocked false
:point [456.2890625 463.9375]
:parentId "64948991-45ee-430e-9e28-b48dc9eff0b2"
:collapsedHeight 0
:nonce 1687456200700}}
:block/updated-at 1687456222991} 
{:block/created-at 1687456222992
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "40b6d492-1125-11ee-8ebe-a9740cd72c54"
:fontWeight 400
:noFill true
:point [652.07 356.65]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [4.8 103.29]
:bindingId "40b6d491-1125-11ee-8ebe-a9740cd72c54"}}
:decorations 
{:end "arrow"}
:parentId "64948991-45ee-430e-9e28-b48dc9eff0b2"
:nonce 1687456219406
:italic false}}
:block/updated-at 1687456222992})
:pages (
{:block/uuid #uuid "64948991-45ee-430e-9e28-b48dc9eff0b2"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64948991-45ee-430e-9e28-b48dc9eff0b2"
:name "白板测试"
:bindings 
{:40b6d491-1125-11ee-8ebe-a9740cd72c54 
{:id "40b6d491-1125-11ee-8ebe-a9740cd72c54"
:type "line"
:fromId "40b6d492-1125-11ee-8ebe-a9740cd72c54"
:toId "35618630-1125-11ee-8ebe-a9740cd72c54"
:handleId "end"
:point [0.51 0.52]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("1c239460-1125-11ee-8ebe-a9740cd72c54" "35618630-1125-11ee-8ebe-a9740cd72c54" "40b6d492-1125-11ee-8ebe-a9740cd72c54")}}
:block/updated-at 1687456222991
:block/created-at 1687456145481
:block/type "whiteboard"
:block/name "白板测试"
:block/original-name "白板测试"})}